asgiref==3.8.1
coverage==7.6.10
dj-database-url==2.3.0
Django==4.2.18
gunicorn==23.0.0
packaging==24.2
psycopg==3.2.4
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.9.
python-dotenv==1.0.1
wheel==0.38.1
